.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  .modal-content {
    background: #fff;
    padding: 4rem;
    border-radius: 12px;
    max-width: 900px;
    width: 90%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    color: black;
    overflow-y: auto;
    .modal-close {
      position: absolute;
      top: 8px;
      right: 12px;
      background: transparent;
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      color: black;
    }
  }
}
